input {
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

.area,
.perimeter {
  width: 100px;
}
.area {
  margin-right: 30px;
}
.result {
  margin-top: 20px;
  margin-left: 5px;
}
.solution {
  width: 60px;
  height: 35px;
  margin-bottom: 20px;
}
.answer {
  width: 100%;
  height: 60px;
  background-color: lightblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
